body{
	font-family : 'Calibri', 'Noto Sans TC', sans-serif;
    background-color : #EFEEEE;
    -webkit-text-size-adjust:100%;
}

.content{
    text-align : center;
}

.hidden{
     opacity : 0;
}
.visible{
     opacity : 1;
}
.none_display{
    display : none;
}


/* nav ----------------------------------------------*/
nav{
    position : fixed;
    width : 100%;  
    font-weight : bold;
    background-color : #EFEEEE;
    top : 0px;
    z-index : 200;
    letter-spacing : 0.05em;
}
.activeNav{
    z-index : 201;
}
.clicked_nav {
    display : none;
}

/* normal nav */
.NormalNav .menu_icon{
    display : none;
}
.NormalNav .leftnav a{text-decoration:none;}
.NormalNav .leftnav a:link{color: #212222;}
.NormalNav .leftnav a:visited { color: #212222;}　
.NormalNav .leftnav a:active{color: #212222;}
.NormalNav .leftnav a:hover{
    color: #212222;
    text-decoration : underline;
}
.normal_rightnav a{text-decoration:none;}
.normal_rightnav a:link{color: #212222;}
.normal_rightnav a:visited { color: #212222;}　
.normal_rightnav a:active{color: #212222;}
.normal_rightnav a:hover{ color: #212222;}
.NormalNav .leftnav{
    position : relative;
    float : left;
}
.normal_rightnav{
    position : relative;
    float : right;  
}
.normal_nav_title, .normal_nav_label{
    position : relative;
}
.NormalNav .leftnav .normal_nav_title{    
    margin-right: 20px;
}

.normal_nav_label{    
    font-weight : normal;
}
.NormalNav .leftnav .normal_nav_label{    
    margin-right: 10px;
}

/* normal nav RWD related */
.NormalNav{
    position : fixed;
    width : 100%;
    top : 0px;
    height : 65px;
}
.NormalNav .normal_nav{
    top : 20px;
}
.NormalNav .leftnav{
    left : 8%;
    font-size : 13pt;
}
.NormalNav .normal_rightnav{
    right : 8%;
    font-size : 12pt;
}
.NormalNav .leftnav img{
    position : relative;
    top : -3px;
    width : 50px;
    margin-right: 8px;
}
.NormalNav .normal_nav_label{
    font-size : 12pt;
    height: 60px;
}
.NormalNav .leftnav .normal_nav_title, ..NormalNav .leftnav .normal_nav_label{
    top : 4px;
}
.NormalNav .normal_rightnav .normal_nav_label{
    top : 8px;
}
.NormalNav .normal_rightnav .tw_btn{
    font-size : 10pt;
}

/* RWD nav --------- */

/* menu icon */
/* https://codepen.io/designcouch/pen/Atyop */
.icon_click_point {
    position: absolute;
    float: right;
    width : calc(8% + 40px);
    height : 60px;
    right : calc(4% - 20px);
    top : 0;
    cursor: pointer;
}
.menu_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    float: right;
    top : 24px;
    right : 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;    
}
.menu_icon span {
    background: #212222;
}
.menu_icon.open span {
    background: #EFEEEE;
}
.menu_icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu_icon span:nth-child(even) {
    left: 50%;
}
.menu_icon span:nth-child(odd) {
    left:0px;
}
.menu_icon span:nth-child(1), .menu_icon span:nth-child(2) {
    top: 0px;
}
.menu_icon span:nth-child(3), .menu_icon span:nth-child(4) {
    top: 6px;
}
.menu_icon span:nth-child(5), .menu_icon span:nth-child(6) {
    top: 12px;
}
.menu_icon.open span:nth-child(1),.menu_icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu_icon.open span:nth-child(2),.menu_icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.menu_icon.open span:nth-child(1) {
    left: 2px;
    top: 2px;
}
.menu_icon.open span:nth-child(2) {
    left: calc(50% - 2px);
    top: 2px;
}
.menu_icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}
.menu_icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}
.menu_icon.open span:nth-child(5) {
    left: 2px;
    top: 8px;
}
.menu_icon.open span:nth-child(6) {
    left: calc(50% - 2px);
    top: 8px;
}

/* menu selection */
.menuSelection {
    display: none;
    position : absolute;
    background-color: #212222;
    float: left;
    width: 100%;
    top: 50px;
    padding-left : 8%;
    padding-bottom: 10px;
    font-size : 0.9em;
    letter-spacing : 0.1em;
    font-weight : normal;
}
.menuSelection ul{
    padding-top: 8px;
    padding-bottom: 8px;
}
.menuSelection a{text-decoration:none;}
.menuSelection a:link{color: #A0A0A0;}
.menuSelection a:visited { color: #A0A0A0;}　
.menuSelection a:active{color: #A0A0A0;}
.menuSelection a:hover{color: #fff;}

/* rwd nav */
.RwdNav{
    height : 60px;
}
.RwdNav .leftnav{
    position : relative;
    left : 8%;
    font-size : 12pt;
    top : 20px;
}
.RwdNav .leftnav img{
    position : relative;
    width : 40px;
    margin-right : 6px;
    top : -3px;
}
.RwdNav hr{
    text-align : left;
    width : 75%;
    margin-top : 15px;
    margin-bottom : 8px;
    background-color : #333333;
    height : 1px;
}
.RwdNav .langBtn{
    color : #565656;
    padding-right: 10px;
    margin-right : 5px;
}
.RwdNav .langBtn:hover{
    color : #D6D6D6;
}
.RwdNav .tw_btn{
    font-size : 8pt;
}
.tw_btn, .en_btn {
    cursor : pointer;
}

@media screen and (max-width: 690px) {
    .NormalNav{
        display : none;
    }
    .RwdNav {
        display : block;
    }
}

@media screen and (max-width: 400px) {
    .RwdNav .leftnav{
        font-size : 11pt;
    }
    .RwdNav .leftnav img{
        position : relative;
        width : 40px;
        margin-right : 6px;
        top : -3px;
    }
}


/* footer ----------------------------------------------*/
footer {
    color : #3D3D3D;   
    padding-top: 40px;
    padding-bottom: 30px;
}

footer div{
    position: relative;
    display: block;
    font-size : 9pt;
}
