.content{
    
}

/* nav ----------------------------------------------*/
/* home nav */
.HomeNav{
	position : fixed;
	width : 100%;
	top : 0px;
	height : 67px;
}
.home_nav_label{
	top : 26px;
}
.leftnav{
	left : 13%;
	font-size : 13pt;
}
.rightnav{
	right : 13%;
	font-size : 12pt;
}
.nav_shrink{
	max-height: 50px;
}
.home_nav_label_shrink{
	top : 25px;
}

/* normal nav */
.NormalNav{
	position : fixed;
	width : 100%;
	top : 0px;
	height : 60px;
}
.normal_nav{
	top : 14px;
}
.normal_leftnav{
	left : 8%;
	font-size : 13pt;
}
.normal_rightnav{
	right : 8%;
	font-size : 12pt;
}
.normal_leftnav img{
    width : 50px;
    margin-right: 13px;
}
.normal_nav_label{
    font-size : 12pt;
}
.normal_leftnav .normal_nav_title, .normal_leftnav .normal_nav_label{
	top : 4px;
}
.normal_rightnav .normal_nav_label{
	top : 12px;
}
.normal_rightnav .tw{
	font-size : 10pt;
}

/* home ----------------------------------------------*/
#home img{
    width : 350px;
}
#home .home_words{
	width : 350px;
}
#home .home_title{
    font-size : 18pt;
    padding-left: 20px;
}
#home .home_content{
    font-size : 14pt;
    padding-left: 20px;
}

/* works ----------------------------------------------*/
#works{
    padding-top: 85px;
    width : 75%;
}
#works .title{
    font-size : 19pt;
    margin-bottom : 10px;
    margin-left : 1%;
}
#works .sub_title{
    margin-bottom : 10px;
    margin-left : 1%;
}
#works .sub_title .label{
    font-size : 13pt;
    margin-right : 10px;
}

#works hr{
    margin-left : 1%;
    margin-bottom : 30px;
}

#works .block{
    width : 31%;
    margin-bottom : 30px;
    margin-left : 1%;
    margin-right : 1%;
}
#works .block .project_sub_title{
    font-size : 12pt;
    /*padding-left : 5px;*/
}
#works .block .project_title{
    font-size : 14pt;
    /*padding-left : 5px;*/
}


/* footer ----------------------------------------------*/
footer {
    font-size : 11pt;
    padding-top: 40px;
    padding-bottom: 40px;
}
