body{
	font-family : 'Calibri', 'Noto Sans TC', sans-serif;
    background-color : #EFEEEE;
    letter-spacing : 0.05em;
    -webkit-text-size-adjust:100%;
}

.content{
    text-align : center;
}

.hidden{
     opacity : 0;
}
.visible{
     opacity : 1;
}
.none_display{
    display : none;
}


/* nav ----------------------------------------------*/
nav{
    position : fixed;
    width : 100%;  
    font-weight : bold;
    background-color : #EFEEEE;
    top : 0px;
    z-index : 200;
}
.activeNav{
    z-index : 201;
}
.clicked_nav {
    display : none;
}

/* home nav */
.HomeNav .leftnav a{text-decoration:none;}
.HomeNav .leftnav a:link{color: #212222;}
.HomeNav .leftnav a:visited { color: #212222;}　
.HomeNav .leftnav a:active{color: #212222;}
.HomeNav .leftnav a:hover{color: #212222;} 

.HomeNav .rightnav a{text-decoration:none;}
.HomeNav .rightnav a:link{color: #212222;}
.HomeNav .rightnav a:visited { color: #212222;}　
.HomeNav .rightnav a:active{color: #212222;}
.HomeNav .rightnav a:hover{
    color: #212222;
    text-decoration : underline;
} 
.home_nav_label{
    letter-spacing : 0.1em; 
}
.HomeNav .leftnav{
    position : relative;
    float : left;
}
.HomeNav .rightnav{
    position : relative;
    float : right;  
}
.HomeNav .rightnav span{
    margin-left : 15px;
    padding-top : 20px;
    padding-bottom: 20px;
}
.HomeNav .nav_animation{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;  
}

/* home nav RWD related */
.HomeNav .menu_icon{
    display : none;
}
.HomeNav{
    position : fixed;
    width : 100%;
    top : 0px;
    height : 70px;
}
.home_nav_label{
    top : 26px;
}
.HomeNav .leftnav{
    left : 13%;
    font-size : 13pt;
}
.HomeNav .rightnav{
    right : 13%;
    font-size : 12pt;
}
.nav_shrink{
    max-height: 50px;
}
.home_nav_label_shrink{
    top : 25px;
    height : 60px;
}

/* normal nav */
.NormalNav .menu_icon{
    display : none;
}
.NormalNav .leftnav a{text-decoration:none;}
.NormalNav .leftnav a:link{color: #212222;}
.NormalNav .leftnav a:visited { color: #212222;}　
.NormalNav .leftnav a:active{color: #212222;}
.NormalNav .leftnav a:hover{
    color: #212222;
    text-decoration : underline;
}
.normal_rightnav a{text-decoration:none;}
.normal_rightnav a:link{color: #212222;}
.normal_rightnav a:visited { color: #212222;}　
.normal_rightnav a:active{color: #212222;}
.normal_rightnav a:hover{ color: #212222;}
.NormalNav .leftnav{
    position : relative;
    float : left;
}
.normal_rightnav{
    position : relative;
    float : right;  
}
.normal_nav_title, .normal_nav_label{
    position : relative;
}
.NormalNav .leftnav .normal_nav_title{    
    margin-right: 20px;
}

.normal_nav_label{    
    font-weight : normal;
}
.NormalNav .leftnav .normal_nav_label{    
    margin-right: 10px;
}

/* normal nav RWD related */
.NormalNav{
    position : fixed;
    width : 100%;
    top : 0px;
    height : 65px;
}
.NormalNav .normal_nav{
    top : 20px;
}
.NormalNav .leftnav{
    left : 8%;
    font-size : 13pt;
}
.NormalNav .normal_rightnav{
    right : 8%;
    font-size : 12pt;
}
.NormalNav .leftnav img{
    position : relative;
    top : -3px;
    width : 50px;
    margin-right: 8px;
}
.NormalNav .normal_nav_label{
    font-size : 12pt;
    height: 60px;
}
.NormalNav .leftnav .normal_nav_title, ..NormalNav .leftnav .normal_nav_label{
    top : 4px;
}
.NormalNav .normal_rightnav .normal_nav_label{
    top : 8px;
}
.NormalNav .normal_rightnav .tw{
    font-size : 10pt;
}


/* home ----------------------------------------------*/
#home{
    position : relative;
    padding-top : 90px;
    padding-bottom: 50px;
    letter-spacing : 0.05em;
}
#home .home_words{
    margin : 0 auto;
    margin-top: 25px;
    text-align : left;
}
#home .home_title{
    font-weight : bold;
    }
#home .home_content{
    margin-top: 5px;    
}
#home .triangle {
    position : relative;
    margin : 0 auto;
    padding: 20px;
    width : 50px;
}
#home #scroll-triangle-outer{
    position: relative;
    margin : 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #212222 transparent transparent transparent;
}
#home #scroll-triangle-inner{
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #EFEEEE transparent transparent transparent;
}

/* home RWD related */
#home{
    padding-top : 90px;
}
#home img{
    width : 350px;
}
#home .home_words{
    width : 350px;
}
#home .home_title{
    font-size : 18pt;
    padding-left: 20px;
}
#home .home_content{
    font-size : 14pt;
    padding-left: 20px;
    margin-bottom: 30px;
}
#home #scroll-triangle-outer{
    border-width: 16px 16px 0 16px;
}
#home #scroll-triangle-inner{
    top: -14px;
    left: -11px;
    border-width: 11px 11px 0 11px;
}


/* works ----------------------------------------------*/
#works{
    position : relative;
    margin : 0 auto;
}

#works .title, #works .sub_title {
    position : relative;
    text-align : left;
}
#works .title{
    font-weight : bold;
}
#works .sub_title .label:hover{
    color : #939393;
    cursor : pointer;
}
#works .sub_title .active{
    color : #939393;
}
#works .project_list{
    position : relative;
    display : inline-block;
    text-align : left;
}

#works hr{
    text-align : left;
    width : 97.8%;
    background-color : #CCCCCC;
    height : 1px;
}

#works .project_list{
    position: relative;
    width: 100%;
}
#works .block,
#works .block img{
    border-radius : 1px;
}
#works .block{
    position : relative;
    display : inline-block;
    text-align : left;
    cursor : pointer;
}
#works .block img{
    position : relative;
    width : 100%;    
    box-shadow: 0px 0px 2px #DDDDDD;
}
#works .block .project_title{
    margin-top: 5px;
}
#works .block .project_sub_title{
    color: #848484;
}

/* flash animation */
#works .project_list {
  -vendor-animation-duration: 30s;
  -vendor-animation-delay: 30s;
}

/* img hover effect */
/* https://codepen.io/nxworld/pen/ZYNOBZ */
#works .block .imgArea{
    overflow: hidden;
}
#works .block img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#works .block:hover img{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* works label slider */
#works .sub_title .btn {
    cursor : pointer;
    padding-right : 15px;
    padding-left : 15px;
}
#works .sub_title #prev {
/*    position : relative;*/
}
#works .sub_title {
    overflow : hidden;
    display : inline-block;
    width : 100%;
}
#works .slides {
    position : relative;
    display : inline-block;
}
#works .slide {
    position : relative;
    display : inline-block;
}


/* works rwd related */
#works{
    padding-top: 85px;
    width : 75%;
}
#works .title{
    font-size : 18pt;
    margin-bottom : 8px;
    margin-left : 1%;
}
#works .sub_title{
    margin-bottom : 9px;
    margin-left : 1%;
}
#works .sub_title .label{
    font-size : 12pt;
    margin-right : 10px;
}

#works hr{
    margin-left : 1%;
    margin-bottom : 30px;
}

#works .block{
    width : 31%;
    margin-bottom : 30px;
    margin-left : 1%;
    margin-right : 1%;
}
#works .block .project_title{
    position: relative;
    display: block;
    font-size : 13pt;
}
#works .block .project_sub_title{
    position: relative;
    display: block;
    font-size : 10pt;
}


/* footer ----------------------------------------------*/
footer {
    color : #3D3D3D;   
    padding-top: 40px;
    padding-bottom: 30px;
}

footer div{
    position: relative;
    display: block;
    font-size : 9pt;
}
